setenv PATH @@install_scripts@@:$PATH

setenv PANDA_CONFIG_ROOT ~/.pathena
setenv PANDA_SYS @@install_dir@@
setenv PANDA_PYTHONPATH `bash ${PANDA_SYS}/etc/panda/site_path.sh`

if ($?PYTHONPATH) then
    setenv PYTHONPATH ${PANDA_PYTHONPATH}:$PYTHONPATH
else
    setenv PYTHONPATH ${PANDA_PYTHONPATH}
endif
