#!/bin/bash

source ${PANDA_SYS}/etc/panda/share/functions.sh

exec_p_command \
"import sys; import os.path; "\
"s_path='@@install_dir@@/lib/python{0}.{1}/site-packages'.format(*sys.version_info); "\
"s_path = s_path if os.path.exists(s_path) else '@@install_purelib@@'; "\
"print(s_path)"
